.video__item {
    margin: 1rem;

    video {
        width: 400px;
        margin: 2rem;
    }
}

@media screen and (max-width:1000px) {
    .video__item {
        width: 200px;

        video {
            max-width: 60%;
        }

    }
}